@import 'src/main';

.shorten-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'shortener links';
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-size: 100% 100%;

    @media (max-width: 1000px) {  
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'shortener' 
            'links';

            background-image: none;
    }
    // border: 3px solid orange;
}

