@import 'src/main';

.Header { 
    background-color: $primary-blue;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    margin-top: 0;
    
    img {
        width: 4rem;
        margin: .5rem;
    }
}
